<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">First Name:</label>
        <input id="firstName" formControlName="firstName" />
    </div>

    <div>
        <label for="lastName">Last Name:</label>
        <input id="lastName" formControlName="lastName" />
    </div>

    <div>
        <label for="email">Email Address:</label>
        <input id="email" type="email" formControlName="email" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="!registerForm.valid">Create Account</button>

    <div *ngIf="error" style="color: red;">
        {{ error }}
    </div>
</form>